Source: ros-groovy-tf
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-rosconsole,ros-groovy-roscpp,ros-groovy-message-filters,ros-groovy-std-msgs,ros-groovy-sensor-msgs,ros-groovy-rostest,ros-groovy-geometry-msgs,ros-groovy-angles,ros-groovy-message-generation
Homepage: http://www.ros.org/wiki/tf
Standards-Version: 3.9.2

Package: ros-groovy-tf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-roscpp,ros-groovy-message-filters,ros-groovy-sensor-msgs,ros-groovy-message-runtime,ros-groovy-std-msgs,ros-groovy-geometry-msgs
Description: tf is a package that lets the user keep track of multiple coordinate frames over time. tf maintains the relationship between coordinate frames in a tree structure buffered in time, and lets the user transform points, vectors, etc between any two coordinate frames at any desired point in time.
