Source: ros-groovy-eigen-conversions
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-geometry-msgs,ros-groovy-orocos-kdl,ros-groovy-std-msgs,libeigen3-dev
Homepage: http://ros.org/wiki/eigen_conversions
Standards-Version: 3.9.2

Package: ros-groovy-eigen-conversions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-geometry-msgs,ros-groovy-orocos-kdl,ros-groovy-std-msgs,libeigen3-dev
Description: Conversion functions between: - Eigen and KDL - Eigen and geometry_msgs.
