Source: ros-kinetic-tf
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-angles, ros-kinetic-catkin (>= 0.6.4), ros-kinetic-geometry-msgs, ros-kinetic-message-filters, ros-kinetic-message-generation, ros-kinetic-rosconsole, ros-kinetic-roscpp, ros-kinetic-rostest, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf2 (>= 0.5.8), ros-kinetic-tf2-ros (>= 0.5.4)
Homepage: http://www.ros.org/wiki/tf
Standards-Version: 3.9.2

Package: ros-kinetic-tf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, graphviz, ros-kinetic-geometry-msgs, ros-kinetic-message-filters (>= 1.11.1), ros-kinetic-message-runtime, ros-kinetic-rosconsole, ros-kinetic-roscpp, ros-kinetic-roswtf, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf2 (>= 0.4.5), ros-kinetic-tf2-ros (>= 0.4.5)
Description: tf is a package that lets the user keep track of multiple coordinate frames over time.
 tf maintains the relationship between coordinate frames in a tree structure buffered in time, and lets the user transform points, vectors, etc between any two coordinate frames at any desired point in time.
